*{
    box-sizing: border-box;
}
body{
    padding-top: 100px;
}
.countdown{
    display: flex;
    gap: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.time-section{
    text-align: center;
    font-size: 30px;
}
.time-group{
    display: flex;
        gap: 10px;
}
.time-segment{
    display: block;
    font-size: 100px;
    font-weight: 500;
    width: 100px;
}
.segment-display{
    position: relative;
    height: 100%;
}
.segment-display_top,
.segment-display_bottom{
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
    position: relative;
}

.segment-display_top{
   background-color: #111;
   color: #eee;
   line-height: 1.5;
}
.segment-display_bottom{
    background-color: #333;
    color: #fff;
    line-height: 0;
 }
 .segment-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100px;
    perspective: 400px;

 }
 .segment-overlay_top,
.segment-overlay_bottom{
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
    position:absolute;
}
.segment-overlay_top{
    top: 0;
    background-color: #111;
    color: #eee;
    line-height: 1.5;
    transform-origin: bottom;
 }
 .segment-overlay_bottom{
     bottom: 0;
     background-color: #333;
     color: #fff;
     line-height: 0;
     border-top: 2px solid black;
     transform-origin: top;
  }
  .segment-overlay.flip .segment-overlay_top{
       animation: flip-top 0.9s linear;
  }
  .segment-overlay.flip .segment-overlay_bottom{
    animation: flip-bottom 0.9s linear;
      }

 @keyframes flip-top{
    0% {
        transform: rotateX('0deg');
    }
    50%, 100% {
        transform: rotateX('-90deg');
    }
 }
 @keyframes flip-bottom{
    0%, 50% {
        transform: rotateX('90deg');
    }
    100% {
        transform: rotateX('0deg');
    }
    
 }